.page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

.message-container {
  text-align: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: #fff;
  width: 80%;
  max-width: 600px;
  z-index: 1001;
}

.success-page {
  background-color: transparent;
}

.success-page .message-container {
  background-color: rgba(131, 131, 131, 0.5);
  padding: 40px;
}

.fail-page {
  background-color: transparent;
}

.fail-page .message-container {
  background-color: rgba(131, 131, 131, 0.5);
  padding: 40px;
}

.message-container h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.message-container p {
  font-size: 20px;
  margin-bottom: 20px;
}